@import url("https://fonts.googleapis.com/css?family=Rubik");

:root {
  --color-blue: #5776bf;
  --color-grey: #797a80;
  --color-light-grey: #f8f8f8;
  --color-purple: #5a84e8;

  --color-gradient-blue: #61dafb;
  --color-gradient-purple: #618efb;

  --color-twitter-blue: #55acee;
  --color-meetup-red: #ed1c40;
  --color-twitter-blue-hover: #4c9cd9;
  --color-meetup-red-hover: #bc1431;
  --color-opencollective-blue: #3385ff;
  --color-opencollective-blue-hover: #0052cc;

  --color-button-text: #3a579b;
  --color-hyperlink: var(--color-purple);
  --color-hyperlink-hover: #486aba;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-grey);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--color-blue);
}

.subhead,
h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 56px;
  font-weight: 300;
}

h2 {
  font-size: 44px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

.primary-container {
  padding-bottom: 60;
}

.subhead {
  font-size: 28px;
}

.ui.button {
  background-color: white;
  color: var(--color-button-text);
}

.ui.button:hover {
  opacity: 75%;
}

a {
  color: var(--color-hyperlink);
}

a:hover {
  color: var(--color-hyperlink-hover);
}

.centered-text {
  margin: 0 auto;
  text-align: center;
}

.cfp-container {
  align-items: center;
  background-color: var(--color-gradient-purple);
  color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  width: 100vw;
  padding: 0 0 20px;
}

.cfp-container h2 {
  color: var(--color-light-grey);
  margin-bottom: -15px;
}

.cfp-submit-link {
  color: var(--color-button-text);
  background-color: var(--color-light-grey);
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
}

.cfp-submit-link:hover {
  opacity: .75;
}

.code-of-conduct-container {
  background-color: var(--color-light-grey);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 90vw auto;
  background-image: url("../assets/desktop-city-illustration.svg");
}

.follow-container {
  display: flex;
  flex-wrap: wrap;
}

.follow-container span {
  align-items: center;
  color: white;
  justify-content: center;
  margin-left: 10px;
}

.follow-btn {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  font-size: 16px;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 300px;
}

.follow-btn .follow-btn-image {
  width: 25px;
}

.follow-btn-meetup {
  background-color: var(--color-meetup-red);
}

.follow-btn-meetup:hover {
  background-color: var(--color-meetup-red-hover);
}

.follow-btn-opencollective {
  background-color: var(--color-opencollective-blue);
}

.follow-btn-opencollective:hover {
  background-color: var(--color-opencollective-blue-hover);
}

.follow-btn-twitter {
  background-color: var(--color-twitter-blue);
}

.follow-btn-twitter:hover {
  background-color: var(--color-twitter-blue-hover);
}

.footer-container {
  align-items: center;
  justify-content: center;
  background: linear-gradient( to right, var(--color-gradient-blue), var(--color-gradient-purple) );
  display: flex;
  flex-direction: column;
  min-height: 150px;
  /* text-align: center; */
  padding: 0;
  margin: 0;
  width: 100vw;
}

.footer-container img {
  padding: 10px;
  transition-duration: .25s;
}

.footer-container img:hover {
  transform: scale(1.1);
}

.footer-copyright {
  color: var(--color-light-grey);
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.hero {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../assets/hero-bg@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero-text {
  max-width: 680px;
  margin: 0 auto;
}

.hero-text h1 {
  color: white;
}

.hero-text h2 {
  color: white;
}

.hr-divider {
  background: linear-gradient( to right, var(--color-gradient-blue), var(--color-gradient-purple) );
  border: 0;
  height: 4px;
  margin: 0;
}

.organizers {
  background-color: var(--color-light-grey);
}

.organizers-ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}

.organizers-ul a {
  text-decoration: none;
}

.organizers-ul li {
  min-width: 50px;
  padding: 20px;
}

.organizers-ul li img {
  max-width: 100%;
  transition-duration: .5s;
}

.organizers-ul li img:hover {
  transform: scale(1.1);
}

.organizers-ul p {
  color: var(--color-grey);
  white-space: nowrap;
}

.organizers-ul p:hover {
  color: var(--color-hyperlink-hover);
}

.side-by-side {
  display: flex;
}

.side-by-side-item {
  flex-grow: 1;
}

.side-by-side img {
  max-width: 544px;
}

.span-text-link {
  color: var(--color-hyperlink);
  text-decoration: underline;
}

.section {
  padding: 120px 130px;
}

.social-rules-ul {
  list-style: none;
}

.social-rules-ul li::before {
  content: "o";
  color: var(--color-gradient-purple);
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
}

.text-group {
  padding: 0 40px;
  text-align: left;
}

.collapse-top {
  padding-top: 30px;
}

.collapse-bottom {
  padding-bottom: 30px;
}

.slack-form {
  background-color: var(--color-purple);
  padding: 0 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.slack-form h2 {
  color: white;
}

.slack-form input {
  width: 500px;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  padding: 20px;
  font-size: 30px;
  box-sizing: border-box;
  border: 1px solid var(--color-blue);
}

.slack-form input:focus {
  border: 1px solid var(--color-purple);
}

.slack-form button {
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-button-text);
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  margin-top: 20px;
  width: 500px;
}

.slack-form button:hover {
  opacity: .75;
}
@media only screen and (max-width: 1280px) {
  .section {
    padding: 40px;
  }

  .collapse-top {
    padding-top: 20px;
  }

  .collapse-bottom {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    padding: 30px;
  }

  .collapse-top {
    padding-top: 15px;
  }

  .collapse-bottom {
    padding-bottom: 15px;
  }

  .side-by-side {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .follow-container {
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  .subhead {
    font-size: 22px;
  }

  li,
  p {
    font-size: 14px;
  }

  .cfp-container {
    padding: 0 15px;
    min-height: 250px;
  }

  .cfp-container h2 {
    margin: 0;
  }

  .cfp-submit-link {
    margin-top: 15px;
    width: 90%;
    text-align: center;
    font-size: 20px;
  }

  .code-of-conduct-container {
    background-image: url("../assets/mobile-city-illustration-07.svg");
  }

  .follow-container {
    display: block;
    margin: 0 auto;
    width: 95%;
  }

  .follow-btn {
    border-radius: 2px;
    display: inline-flex;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
  }

  .follow-btn img {
    height: 25px;
    width: auto;
  }

  .hero-text {
    padding: 15px;
  }

  .last-section {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .organizers-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 0;
  }

  .organizers-ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .organizers-ul p {
    font-size: 20px;
    margin: 30px 0 50px;
  }

  .primary-container {
    margin: 0;
    max-width: 100vw;
    padding: 0;
  }

  .section {
    max-width: 100%;
    padding: 25px 15px;
  }

  .side-by-side img {
    width: 100%;
  }

  .side-by-side-item {
    width: 100%;
    text-align: center;
  }

  .slack-form button,
  .slack-form input {
    width: 100%;
  }

  .text-group {
    padding: 0 20px;
  }

  .text-group {
    padding: 0;
  }
}
@media only screen and (max-width: 350px) {
  .hero img {
    width: 250px;
  }
}
