html, body {
  background-color: #444444;
}

.App {
  text-align: center;
}

.App-logo-delayed,
.App-logo {
  position: absolute;
  top:0;
  left:0;
  animation: App-logo-pulse infinite 4s ease;
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 30px;
}

.App-logo-delayed {
  animation-delay: 1.5s;
  opacity:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vw);
  color: white;
  padding: 50px;
}
.App-header p {
  line-height: 1.5em;
}

.App-link {
  color: #008cf4;
  text-decoration: none;
}


@keyframes App-logo-pulse {
  from {
    opacity: 0.8;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10.0);
  }
}
